* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --basic-gray: #00000066;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --white2: #FFFFFF33;
    --basic-red: #FF0000;
    --gray2: #00000040;
    --transparent-red: #FF00004D;
    --white3: #FFFFFF29;
    --gray3: #6A6A6A;
    --black2: #28272C;
    --gray4: #B2B2B2;
    --gray5: #D1D1D1;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FFFFFF;
    width: 100vw;
}

header {
    background-color: #000000;
    background-image: url("../Desktop Layout/Image.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    background-color: var(--basic-gray,transparent);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;
    align-self: stretch;
}

.menu--elements {
    height: 88px;
    width: 486px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--basic-white,white);
    padding: 0;
}

.menu__element:hover {
    background-color: var(--white2, transparent);
}

.logo {
    order: -1;
    height: 47px;
    width: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--icon {
    height: 35px;
    width: 31px;
}

.car {
    color: var(--basic-red,red);
    font-weight: 800;
    font-size: 35px;
}

.sharing {
    color: var(--basic-white,white);
    font-weight: 700;
    font-size: 35px;
}

.header--container {
    color: var(--basic-white,white);
    width: 1046px;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.company--name {
    font-size: 90px;
    font-weight: 900;
    text-align: left;
}

.description {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.header--container--links {
    width: 471px;
    height: 66px;
    display: flex;
    justify-content: space-between;
}

.link1 {
    text-decoration: none;
    color: var(--basic-white),white;
    background-color: var(--basic-red,red);
    padding: 22px 55px;
    border-radius: 40px;
    box-shadow: 0 3px 6px var(--transparent-red);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link2 {
    text-decoration: none;
    color: var(--basic-red,red);
    background-color: var(--basic-white,white);
    padding: 22px 55px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {

}

.menu__element {
    color: var(--basic-white,white);
}



footer {
    background-color: #28272C;
}

